.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Row {
  display: block;
  text-align: center
}

.Cell{
  display: inline-block;
  border: 1px solid red;
  min-width: 100px;
  min-height: 100px
}

.Center-flex{
  align-items: center;
  display: flex;
  justify-content: center;
}

.Fill-height{
  flex: 1 1 auto
}

.Top-separation{
  margin-top:20px
}

.Lightup{
  background-color: #09d3ac;
}

.Disabled{
  background-color: darkgray;
  cursor:none;
}

.Board{
  
}
.Clickable{
  cursor: pointer;
}